body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.calculator{
  background: #ddd;
  padding: 10px;
  border-radius: 10px;
  width: 230px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
#display{
  width: 99%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  border: none;
  margin-bottom: 10px;
  padding-left: -10px;
  border-radius: 5px;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5px;
}
button{
  height: 45px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}
button.gray{
  background: #ccc;
}
button.yellow{
  background: #ffcb00;
}
button:active{
  opacity: 0.8;
}